/*------------- font uploaded------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*------------- font uploaded------- */

/* ------------RESET CSS---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------RESET CSS---------- */

/*----------------- common css---------- */
:root {
  --primary: #1c262f;
  --primary-light: #212d37;
  --secondary: #0ee951;
  --tertiary: #00dabf;
  --gradient: linear-gradient(to right, #0ee951, #00dabf);
}
/* -----layout css----- */
.container {
  max-width: 1116px;
  margin: 0 auto;
}
/* -----layout css----- */
.btn {
  display: inline-block;
  color: white;
  border: 2px solid var(--gradient);
  padding: 10px 30px;
  background-color: transparent;
  box-shadow: 5px 5px 0px 0px #0ee951;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  font-family: sans-serif;
  border-image-slice: 1;
  font-weight: 400;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid #0ee951;
  transition: all 0.1s ease;
  width: 140px;
}
.btn:hover {
  box-shadow: unset;
}
/*----------------- common css---------- */
/*------- started menu section---------- */
header {
  background-image: url(assets/images/home.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
nav {
  padding-top: 1.7rem;
  padding-bottom: 1rem;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 30%;
  font-weight: 600;
  line-height: 1rem;
  font-size: 1.575rem;
  font-family: sans-serif;
}
.logo a {
  color: #fff;
  text-decoration: none;
}
.menu-btn-section {
  width: 70%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: 600;
  font-size: 0.8rem;
}
.menu-btn-section a {
  font-family: sans-serif;
  text-decoration: none;
  color: #eeeeee;
  padding: 0 12px;
}
.menu-btn-section a:hover {
  color: #0ee951;
}
.menu-btn {
  display: none;
}
.fa-facebook {
  color: #fff;
  background-image: linear-gradient(#0ee951, #00dabf);
  padding: 6px;
  border-radius: 100%;
}
.fa-twitter {
  color: #fff;
  background-image: linear-gradient(#0ee951, #00dabf);
  padding: 6px;
  border-radius: 100%;
}

/*------- started menu section---------- */
/* -------HERO SECTION-------- */
.hero-section-wrapper {
  padding: 30px;
}
.hero-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 30px;
}
.hero-h1 {
  font-family: "poppins", sans-serif;
  font-size: 60px;
  font-weight: 500;
  color: #fff;
  width: 60%;
  line-height: 4rem;
}
.gradient-color {
  color: #0ee951;
}
.hero-paragraph {
  font-family: "poppins", sans-serif;
  width: 50%;
  color: #f8f9fa;
  opacity: 0.7;
  line-height: 1.5rem;
}
.row-with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icon {
  font-size: 1.33rem;
  color: #0ee951;
}
.row-with-icon p {
  color: #f8f9fa;
  font-family: "poppins", sans-serif;
}
.hero-button a {
  color: #eeeeee;
  text-decoration: none;
}
/* -------HERO SECTION-------- */
/*--------Started Service Section----- */
.service-section-wrapper {
  background-color: #1c262f;
  padding: 30px 20px;
}
.service-section-inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.service-1st-row {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  margin: 0 auto;
  gap: 0.8rem;
}
.service-1st-row p {
  color: #f8f9fa;
  font-family: "poppins", sans-serif;
  opacity: 0.7;
  text-align: center;
  line-height: 1.8rem;
}
.service-1st-row h2 {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 2.1rem;
  text-align: center;
  font-weight: 600;
}
.service-box {
  display: flex;
  flex-direction: column;
  width: 32%;
  border: 2px solid white;
  gap: 15px;
  padding: 20px;
  border-radius: 0;
  text-align: left;
  transition: all 0.4s ease;
}

.service-box:hover {
  box-shadow: 3px 3px 0px 0px #0ee951;
  border: 2px solid #0ee951;
  transform: scale(1.1);
}
.fa-house {
  font-size: 2rem;
  color: #0ee951;
}
.service-2nd-row {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}
.service-box-heading {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}
.service-box-prgph {
  color: #f8f9fa;
  font-family: "poppins", sans-serif;
  opacity: 0.7;
}
/*--------Ended Service Section----- */
/*...........Started Bundle Section.............  */
.bundle-section-wrapper {
  background-color: #1c262f;
  padding: 30px 20px;
}
.bundle-section-inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.bundle-1st-row {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  margin: 0 auto;
  gap: 0.8rem;
}
.bundle-1st-row p {
  color: #f8f9fa;
  font-family: "poppins", sans-serif;
  opacity: 0.7;
  text-align: center;
  line-height: 1.8rem;
}
.bundle-1st-row h2 {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 2.1rem;
  text-align: center;
  font-weight: 600;
}
.bundle-2nd-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.bundle-box {
  background: transparent;
  border: 3px solid white;
  padding: 25px;
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.bundle-box-heading {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}
.bundle-box-prgph {
  color: #f8f9fa;
  font-family: "poppins", sans-serif;
  font-size: 0.9rem;
}
.p-icon {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}
.fa-circle-check {
  color: #0ee951;
}
/*...........Ended Bundle Section.............  */
/*...........Started Rewarding Job Section.............  */
.rewarding-job-section-wrapper {
  background-color: #1c262f;
  padding: 30px 20px;
}
.rewarding-job-section-inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.job-section-1st-row {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  margin: 0 auto;
  gap: 0.8rem;
}
.job-section-1st-row p {
  color: #f8f9fa;
  font-family: "poppins", sans-serif;
  opacity: 0.7;
  text-align: center;
  line-height: 1.8rem;
}
.job-section-1st-row h2 {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 2.1rem;
  text-align: center;
  font-weight: 600;
}
.job-section-2nd-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}

.rewarding-job-box {
  background: #b5f566;
  padding: 25px;
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.rewarding-job-box h3 {
  margin-top: 200px;
  font-size: 35px;
  color: #04753f;
  max-width: 180px;
  font-family: "poppins", sans-serif;
  line-height: 44px;
}
.rewarding-job-box p {
  font-size: 18px;
  color: #333333;
  font-family: "poppins", sans-serif;
  line-height: 24px;
}
.two {
  background-color: #fff4e0;
}
.two h3 {
  max-width: 290px !important;
  color: #ff9820;
}
.two p {
  color: #333333;
}

.orange-round {
  width: 100%;
  max-width: 153px;
  position: absolute;
  left: 30px;
  top: 20px;
}
.horse {
  width: 100%;
  max-width: 204px;
  position: absolute;
  left: 90px;
  top: -10px;
}

.tree-background {
  width: 100%;
  max-width: 240px;
  position: absolute;
  right: 0;
  top: 0;
}
.tree {
  width: 100%;
  max-width: 220px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1111;
}
.three h3 {
  max-width: 250px !important;
}
.fish-1 {
  width: 100%;
  max-width: 160px;
  position: absolute;
  right: 0;
  top: 0;
}
.fish-2 {
  width: 100%;
  max-width: 160px;
  position: absolute;
  right: 150px;
  top: 30px;
}
.three {
  background-color: #1b65ce !important;
}
.three h3 {
  color: #96d6fa !important;
}
.three p {
  color: #f5f5f5 !important;
}

/*...........Ended Rewarding Job Section.............  */
/*...........Started Track Section.........  */
.track-section-wrapper {
  background-color: #ffd0db;
  padding: 40px 20px;
}
.track-section-inner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.track-section-1st-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.track-image-two {
  display: none;
}

.track-section-1st-row h2 {
  font-size: 2.1rem;
  font-family: "poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  max-width: 522px;
  margin: 0 auto;
}
.track-section-2nd-row {
  text-align: center;
}
.track-section-2nd-row img {
  width: 100%;
  max-width: 844px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.track-section-1st-row li {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "poppins", sans-serif;
}
li:before {
  content: url(assets/images/noun-check-mark-15008-1.png);
  margin-top: 5px;
}
/* ---------Start stone-product-section----------- */

.stone-product-section-wrapper {
  background-color: #f7f7f7;
  padding: 280px 20px;
  background-image: url(https://cmh1p3ueji.onrocket.site/wp-content/uploads/2024/10/Line-BG.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.stone-product-section-inner {
  width: 1551px;
  display: flex;
  margin: 0 auto;
}
.stone-product-1st-coloum {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: flex-start;
}
.stone-product-2nd-coloum {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: flex-end;
}
.stone-product-1st-coloum-1st-row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.stone-product-1st-row-button a {
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  padding: 8px 12px;
  border-radius: 25px;
}
.stone-product-1st-row-heading h2 {
  font-size: 66px;
  line-height: 90px;
  font-weight: 600;
  max-width: 550px;
}
.stone-product-1st-coloum-2nd-row {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.stone-product-image-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.image-box-details {
  display: flex;
  justify-content: space-between;
}
.display-image img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.box-details-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-details-title h4 {
  font-size: 30px;
  font-weight: bold;
  color: #212121;
}
.box-details-title p {
  font-size: 20px;
  font-weight: 500;
  color: #909090;
}
.box-details-icon i {
  color: #212121;
  background-color: white;
  width: 52px;
  height: 52px;
  border-radius: 25px;
  padding: 20px;
}
.box-details-icon i:hover {
  background-color: #00dabf;
  transition: all 0.5s ease-in-out;
  scale: 1.1;
}
.image-box-one {
  max-width: 653px;
}
.image-box-three {
  max-width: 654px;
}
/* ---------Ended-stone-product-section----------- */
/*-------------- Started Solutions Section------------ */
.solutions-section-wrapper {
  background-color: #f7f7f7;
}
.solutions-section-inner {
  /* width: 1551px !important; */
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
}
.solutions-heading h2 {
  max-width: 750px;
}
.carousel-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  overflow: hidden;
}
.swiper {
  margin: 0 !important;
}
.slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50% !important;
  height: 801px !important;
}

.carousel-one {
  background-image: url(assets/images/Ivory\ -\ Residential\ -\ Naples\ -\ Outdoor\ Area\ 1.png);
}
.carousel-two {
  background-image: url(assets/images/Ivory\ -\ Residential\ -\ Naples\ -\ Outdoor\ Area\ 1.png);
  width: 269px !important;
}
.carousel-three {
  background-image: url(assets/images/Ivory\ -\ Residential\ -\ Naples\ -\ Outdoor\ Area\ 1.png);
  width: 269px !important;
}
.carousel-four {
  background-image: url(assets/images/Ivory\ -\ Residential\ -\ Naples\ -\ Outdoor\ Area\ 1.png);
  width: 269px !important;
}
/*-------------- Ended Solutions Section------------ */
/* ------------Started blog-inspirations-section------- */
.blog-inspirations-section-wrapper {
  background-color: white;
}
.blog-inspirations-section-inner {
  width: 1551px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 100px 100px;
  gap: 30px;
  height: 100vh;
}

/* .tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
} */
.tag.visible {
  opacity: 1 !important;
  transform: translate(0, 0);
}
.inspirations-sec-btn-heading a {
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  padding: 8px 12px;
  border-radius: 25px;
}
.inspirations-sec-btn a {
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  padding: 15px;
  border-radius: 25px;
  gap: 6px;
  display: flex;
  width: fit-content;
}

.inspirations-sec-btn-heading h2 {
  font-size: 66px;
  line-height: 90px;
  font-weight: 600;
}
.blog-inspirations-section-1st-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-inspirations-section-2nd-row {
  background-color: #212121;
  padding: 20px 50px 20px 20px;
  display: flex;
  gap: 40px;
}
.blog-inspirations-section-2nd-row img {
  width: 100%;
  max-width: 500px;
  object-fit: cover;
}
.inspirations-sec-2nd-coloum {
  width: 35% !important;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.inspirations-sec-2nd-coloum h3 {
  font-size: 40px;
  line-height: 60px;
  color: white;
  font-weight: 600;
}
.inspirations-post-time-date {
  display: flex;
  gap: 20px;
}
.inspirations-post-time-date p {
  color: #909090;
}
.inspirations-paragraph {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-top: 20px;
}
.inspirations-paragraph p {
  max-width: 300px !important;
  color: white;
  font-size: 20px;
  line-height: 35px;
  font-weight: 500;
}
.btn-arrow {
  display: flex;
  justify-content: right;
}
.btn-arrow i {
  background-color: white;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  width: 55px;
  rotate: -45deg;
}
.blog-inspirations-section-3rd-row {
  justify-content: space-between;
  display: flex;
  padding: 20px;
  border-bottom: solid #dddddd 1px;
}

.blog-inspiration-3rd-row-image {
  width: 41%;
}
.blog-inspirations-section-3rd-row img {
  width: 100%;
  max-width: 224px;
  object-fit: cover;
}

.blog-inspirations-section-3rd-row h3 {
  width: 28%;
  font-size: 40px;
  line-height: 60px;
  color: #212121;
  font-weight: 600;
}

.blog-inspirations-section-3rd-row p {
  width: 31%;
  max-width: 434px !important;
  color: #909090;
  font-size: 20px;
  line-height: 35px;
  font-weight: 500;
}
/* ------------Ended blog-inspirations-section------- */
/* ----------------Practice-slider-section----------------- */
.slider-practice-section-wrapper {
  background-color: #f7f7f7;
  margin: 100px 0;
}
.slider-practice-section-inner {
  width: 1551px;
  display: flex;
  margin: 0 auto;
  padding: 100px 20px;
}
.swiper {
  width: 60%;
  margin: 0 auto;
}
.slider-practice-1st-coloum {
  width: 40%;
}
.swiper-wrapper {
  margin: 0 auto;
  padding: 0 50px;
}

.practice-slide.one {
  width: 400px !important;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  background-color: white;
  gap: 30px;
  margin: 0 auto;
}
.swiper-pagination {
  visibility: hidden;
}
.slide-btn {
  width: 20px;
  height: 20px;
  color: #212121;
  background-color: white;
  padding: 20px;
  border-radius: 50%;
  box-shadow: aqua 1px 0.5px;
}
.slide-btn:hover {
  background-color: lavender;
}
.slide-btn::after {
  font-size: 20px;
}
.rating {
  color: #e47b37;
}
/* ----------------Practice-slider-section----------------- */
/* -----------Start-Get-in-touch-section---------- */
.get-in-touch-section-wrapper {
  background-color: white;
}
.get-in-touch-section-inner {
  /* width: 1551px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.get-in-touch-1st-coloum {
  width: 50%;
  padding: 130px;
}
.get-in-touch-1st-coloum .slider-practice-1st-coloum {
  width: 100%;
}
.get-in-touch-1st-coloum .slider-practice-1st-coloum h2 {
  max-width: 462px;
}
.get-in-touch-2nd-coloum {
  width: 50%;
}
.get-in-touch-2nd-coloum img {
  width: 100%;
  max-width: 953px;
  object-fit: cover;
}
/* ---------FORM------------- */
input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #909090;
  padding: 10px 0;
  font-size: 20px;
  color: #909090;
}
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.half {
  width: 100%;
}
.stone-product-1st-coloum-1st-row .row {
  display: flex;
  gap: 30px;
}
#email {
  width: 100%;
}
#phone {
  width: 100%;
}
#zip {
  width: 100%;
}
#describe {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #909090;
  padding: 10px 0;
  font-size: 20px;
  color: #909090;
}
#interest {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #909090;
  padding: 10px 0;
  font-size: 20px;
  color: #909090;
}
#quantity {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #909090;
  padding: 10px 0;
  font-size: 20px;
  color: #909090;
}
#project {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #909090;
  padding: 10px 0;
  font-size: 20px;
  color: #909090;
}
.get-in-touch-1st-coloum button {
  width: fit-content;
  max-width: 190px;
  border-radius: 25px;
  padding: 20px;
  background-color: transparent;
  border: 1px solid #212121;
}

/* ---------FORM------------- */
/* -----------Ende-Get-in-touch-section---------- */

/*---------------- Started-Image-slider-section------------------- */
.image-slider-section-inner {
  /* width: 1551px; */
  margin: 0 auto;
  padding: 100px 0;
}
.slider {
  position: relative;
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}
.slides img {
  width: 100%;
}
.slides input {
  display: none;
}
.slide {
  width: 100%;
  flex-shrink: 0;
}
.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.controls label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: #1c262f 1px 1px 6px;
  cursor: pointer;
}
#slide1:checked ~ .slides {
  transform: translateX(0);
}
#slide2:checked ~ .slides {
  transform: translateX(-100%);
}
#slide3:checked ~ .slides {
  transform: translateX(-200%);
}
/*----------------Ended-Image-slider-section------------------- */
/*----------End stone-product-section------------- */
/*...........Ended Track Section..........*/
/*---------STARTED RESPONSIVE CSS----------- */
@media screen and (max-width: 768px) {
  .main-menu {
    background-color: #1c262f;
    padding: 12px;
    margin-top: -27px;
  }
  .menu-btn {
    display: block;
  }
  .menu-btn-section {
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #1c262f;
    backdrop-filter: blur(5px);
    width: 95%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    gap: 15px;
    transition: all 0.9s ease !important;
    font-size: 1.2rem;
  }

  .menu-btn-section a {
    margin-top: 15px;
    padding: 0 20px;
  }

  .menu-btn i {
    color: #ffffff;
    font-size: 2.3em;
    margin: 10px 15px;
    font-size: 2.3em;
  }

  .fa-xmark i:hover::after {
    width: 0%;
  }
  /* ............Hero Section....... */
  .hero-h1 {
    font-size: 45px;
    width: 100%;
  }
  .hero-paragraph {
    width: 100%;
    opacity: 1;
  }
  /* ............Hero Section....... */
  /* ........Bundle Section..... */
  .bundle-box {
    width: 100%;
  }
  /* ......Service Section....... */
  .service-box {
    width: 100%;
  }
  /*.......Rewarding Section.........  */
  .rewarding-job-box {
    width: 100%;
  }
  /* ........Track Section......... */
  .track-image-two {
    display: block;
  }
  .track-image-one {
    display: none;
  }
  /*...........Started Track Section..........*/
  .track-section-1st-row ul {
    gap: 10px;
  }
  .track-section-1st-row li {
    font-size: 1rem;
  }
  /*...........Ended Track Section..........*/
  /* ---------Start stone-product-section----------- */
  .stone-product-section-wrapper {
    padding: 30px 20px;
  }
  .stone-product-section-inner {
    width: 100%;
    gap: 16px;
  }
  .stone-product-1st-coloum-2nd-row {
    gap: 10px;
  }
  .display-image img {
    height: 170px;
  }
  .stone-product-1st-coloum {
    gap: 10px;
  }
  .stone-product-2nd-coloum {
    margin-top: 50px;
    gap: 10px;
  }
  .stone-product-1st-row-button {
    display: none;
  }

  .stone-product-1st-row-heading h2 {
    font-size: 20px;
    width: 100% !important;
    line-height: 20px;
  }
  .box-details-title h4 {
    font-size: 14px;
  }
  .box-details-title p {
    font-size: 10px;
  }
  .box-details-icon i {
    font-size: 10px;
    width: 24px;
    height: 24px;
    padding: 8px;
  }
  .stone-product-image-box {
    gap: 10px;
  }
  .image-box-one {
    width: 100%;
  }
  .image-box-three {
    width: 100%;
  }
  /* ---------END stone-product-section----------- */
  .get-in-touch-section-inner {
    flex-direction: column;
  }
  form {
    flex-wrap: wrap;
  }
  .get-in-touch-1st-coloum {
    width: 100%;
    padding: 20px;
  }
  .get-in-touch-2nd-coloum {
    width: 100%;
  }
}

/*---------ENDED RESPONSIVE CSS----------- */
